 # Exclude node_modules directories
**/node_modules/

# Exclude Python __pycache__ directories
**/__pycache__/

# Exclude .idea directories
**/.idea/

# Exclude .git directories
**/.git/

# Exclude the root-level .gitignore file
.gitignore

# Exclude .png files
*.png

# Exclude Dockerfile files (any depth)
**/Dockerfile*

# Exclude docker-compose.yml files (any depth)
**/docker-compose*.yml

# Exclude README.md at the root
README.md

# Exclude LICENSE at the root
LICENSE