.confusion-matrix {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto 1fr 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.confusion-matrix .header {
  grid-column: 2 / span 2;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #9acd32;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.confusion-matrix .side-label {
  grid-row: 2 / span 2;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background-color: #add8e6;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 12px;
}

.confusion-matrix .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 1rem;
}

.confusion-matrix .tp {
  background-color: #9acd32;
}

.confusion-matrix .fn,
.confusion-matrix .fp {
  background-color: #add8e6;
}

.confusion-matrix .tn {
  background-color: #9acd32;
}

@media (max-width: 768px) {
  .confusion-matrix {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .confusion-matrix .header {
    grid-column: 1 / span 2;
    font-size: 1rem;
  }

  .confusion-matrix .side-label {
    grid-column: 1 / span 2;
    grid-row: 3;
    transform: none;
    writing-mode: horizontal-tb;
    font-size: 0.8rem;
  }

  .confusion-matrix .cell {
    font-size: 0.8rem;
    padding: 5px;
  }
}

@media (min-width: 1024px) {
  .confusion-matrix {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
  }

  .confusion-matrix .header {
    font-size: 1.2rem;
  }

  .confusion-matrix .side-label {
    font-size: 1rem;
  }

  .confusion-matrix .cell {
    font-size: 1rem;
    padding: 10px;
  }
}


.red-text {
  color: red;
  /* font-weight: bold; */
}

/* NutriScore.css */
.nutri-score-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.nutri-score-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nutri-score-item {
  padding: 10px 15px;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  opacity: 0.5;
  transition: transform 0.3s, opacity 0.3s;
}

.nutri-score-item.highlight {
  opacity: 1;
  transform: scale(1.2);
}

.nutri-score-A { background-color: #00C000; }
.nutri-score-B { background-color: #A5C730; }
.nutri-score-C { background-color: #F9A825; }
.nutri-score-D { background-color: #FF6F00; }
.nutri-score-E { background-color: #E53935; }
